<header class="header">
  <div class="logo">MTecGY<span> Academy</span></div>

  <nav class="nav">
    <a routerLink="/">Inicio</a>
    <a routerLink="/cursos">Cursos</a>
    <a routerLink="/nosotros">Nosotros</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>

<input
  type="text"
  class="buscador"
  placeholder="Buscar cursos online"
  [(ngModel)]="buscador"
  >
  <div class="acciones">
    <button class="btn-login" routerLink="/login">Iniciar sesión</button>
    <button class="btn-registro" routerLink="/registro">Regístrate</button>
  </div>
</header>